@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "WorkSans", "ui-sans-serif", "system-ui", "sans-serif";
  --font-serif: "WorkSansItalic", "ui-serif",  "serif";
  --font-charmRegular: "CharmRegular";
  --font-charmBold: "CharmBold";
  /* Colors */
  --color-background: #272935;
  --color-foreground: #F8F8FC;
  --color-primary: #7359F8;
}

@layer base {
  * {
    @apply antialiased scroll-smooth;
  }
  body {
    @apply bg-background text-foreground w-full min-w-80;
  }
}

@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/WorkSans.ttf") format("truetype");
}

@font-face {
  font-family: WorkSansItalic;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/WorkSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: CharmRegular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Charm-Regular.ttf") format("truetype");
}

@font-face {
  font-family: CharmBold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Charm-Bold.ttf") format("truetype");
}
